<div id="main-wrapper">

    <app-header> </app-header> 
    <app-sidebar></app-sidebar>
  
    <div class="page-wrapper">
  
      <div class="container-fluid">
        
        <!--Bread crumb -->
      <app-breadcrumbs></app-breadcrumbs> 
              
        <!--Mi Sistema de Rutas-->

        <router-outlet></router-outlet>  <!--CON EL ROUTER OULET TRAEMOS EL DASHBOARD, GRAFICA Y PROGRESS -->

        <!-- 
      -->

       <!-- footer -->
              <!-- ============================================================== -->
              <footer class="footer">
                © 2021 Ani Balverdi
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
    </div>
  
  </div>
