<div class="row">
    <div class="col-6">
        
     <app-dona [title]="title1"
               [labels]= "enero"
               [data]= "cantidad"></app-dona>

    </div>
</div>
  
<div class="row">
    <div class="col-6">
        
        <app-dona 
                  [title]="title2"
                  [labels]= "labels1"
                  [data]= "data1"
                  ></app-dona>

    </div>
</div>
<div class="row">
    <div class="col-6">
        
        <app-dona title ="Zumaran"></app-dona>

    </div>
</div>

<div class="row">
    <div class="col-6">
        
        <app-dona title ="Marquez"></app-dona>

    </div>
</div>
